@model AppFinanzasWeb.ViewModels.PagoTarjetaViewModel;
@using System.Globalization
@{
    ViewData["title"] = "Pago de Tarjeta";
}
<div class="container-fluid">
    <h1>Pago de Tarjeta</h1>
    <form asp-action="PagoTarjeta" method="post" onsubmit="return checkSubmit()">
        <input type="hidden" value="@Model.Cotizacion.Valor" class="ids" id="Cotizacion" asp-for ="Cotizacion.Valor" />
        <input type="hidden" asp-for="MovsTarjetaSerializados" id="DatosTablaSerializados" />
        <div class="row">
            <div class="col-md-3 col-sm-12 mb-3">
                <div class=" card">
                    <div class="card-header">
                        <h5>Complete</h5>
                    </div>
                    <div class="card-body">                    

                        <fieldset>
                            <div class="form-group mb-3">
                                <label for="IdTarjeta">Tipo de Movimiento</label>
                                <select class="form-control" id="IdTarjeta" asp-for="IdTarjeta" onchange="actualizarTablaGastos()">
                                    <option value="">Seleccione</option>
                                    @foreach (var tarjeta in Model.Tarjetas)
                                    {
                                        <option value="@tarjeta.Id">@tarjeta.Nombre</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group mb-3">
                                <label for="MesPago">Mes a Pagar</label>
                                <input class="form-control" type="month" id="MesPago" asp-for="MesPago" onchange="actualizarTablaGastos()" />
                            </div>
                        </fieldset>
                        <hr />
                        <fieldset>
                            <div class="form-group mb-3">
                                <label for="Fecha">Fecha Pago</label>
                                <input class="form-control" type="date" id="Fecha" asp-for="FechaPago" />
                            </div>
                            
                            <div class="form-group mb-3">
                                <label for="Cuenta">Cuenta</label>
                                <select class="form-control" id="Cuenta" asp-for="IdCuenta">
                                    <option value="">Seleccione</option>
                                    @foreach (var cuenta in Model.Cuentas)
                                    {
                                        <option value="@cuenta.Id">@cuenta.CuentaNombre</option>
                                    }
                                </select>
                            </div>
                        </fieldset>
                        <hr />
                        <fieldset>
                            <div class="form-group mb-3">
                                <label for="MonedaPago">Moneda de Pago</label>
                                <select class="form-control" id="MonedaPago" onchange="actualizarGastosAdm()" asp-for="MonedaPago">
                                    <option value="">Seleccione</option>
                                    <option value="Pesos">Pesos</option>
                                    <option value="PesosDolar">Pesos + Dolares</option>
                                </select>
                            </div>

                            <div class="form-group mb-3">
                                <label for="PagoPesos">Pago en Pesos</label>
                                <input id="TotalPesosString" asp-for="TotalPesosString" class="form-control" type="text" onblur="formatearMoneda(this)" onchange="actualizarGastosAdm()" />
                            </div>

                            <div class="form-group mb-3">
                                <label for="GastosTarjeta">Gastos de Tarjeta</label>
                                <input id="TotalGastosString" asp-for="TotalGastosString" class="form-control" type="text"  readonly/>
                            </div>
                        </fieldset>                  

                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12-" id="tablaGastos">

@* 
                    <div class="card">
                        <div class="card-header">
                            <h5>Gastos de la Tarjeta</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="gastosTable">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Tipo Movimiento</th>
                                            <th>Detalle</th>
                                            <th>Moneda</th>
                                            <th>Cuota</th>
                                            <th>Monto Cuota</th>
                                            <th>Valor Pesos</th>
                                            <th>Pagar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="gastosTableBody">
                                        <tr>
                                            <td>Algo</td>
                                            <td>Algo</td>
                                            <td>Algo</td>
                                            <td>Algo</td>
                                            <td>Algo</td>
                                            <td>Algo</td>
                                            <td>Algo</td>
                                            <td>Algo</td>
                                        </tr> *@

            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a class="btn btn-secondary" asp-action="Index">Volver</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {



    <script src="~/js/pagoTarjeta.js" asp-append-version="true"></script>

    <script type="text/javascript">
        

        function actualizarTablaGastos() {


            var idTarjeta = $('#IdTarjeta').val();
            var mesPago = $('#MesPago').val();



            if (idTarjeta && mesPago) {


                $.post('@Url.Action("ActualizarGastos")', { idTarjeta: idTarjeta, mesPago: mesPago }, function (data) {
                    var table = $('#tablaGastos');
                    table.empty();

                    var tableTotal = '';
                    var baseTable = '<div class="card"> ' +
                        '<div class="card-header"> ' +
                        '<h5>Gastos de la Tarjeta </h5>' +
                        '   </div>' +
                        '<div class="card-body"> ' +
                        '<div class="table-responsive">' +
                        '   <table class="table table-bordered table-hover">' +
                        '    <thead>' +
                        '   <tr>' +
                        '   <th>Fecha </th>' +
                        '  <th> Tipo Movimiento </th>' +
                        '   <th> Detalle </th>' +
                        ' <th> Moneda </th>' +
                        ' <th> Cuota </th>' +
                        ' <th> Monto Cuota </th>' +
                        ' <th> Valor Pesos </th>' +
                        '     <th> Pagar </th>' +
                        '   </tr>' +
                        '  </thead>' +
                        '<tbody id="gastosTableBody" >';

                    tableTotal = baseTable;
                    //table.append(baseTable);

                    $.each(data, function (i, movimiento) {


                        var row = '<tr>' +
                            '<input name="idClase" type="hidden" id="idClaseMovimiento" value = "' + movimiento.idClaseMovimiento + '" />'+
                            '<input name="idActivo" type="hidden" id="idActivo" value = "' + movimiento.idActivo + '" />' +
                            '<td>' + movimiento.fechaMov + '</td>' +
                            '<td>' + movimiento.tipoMov + '</td>' +
                            '<td>' + movimiento.detalle + '</td>' +
                            '<td>'+ movimiento.nombreMoneda +'<input type="hidden"  id="idActivo" value = "' + movimiento.idActivo + '"/></td>' +
                            '<td>' + movimiento.cuotaTexto + '</td>' +
                            '<td><input  value="' + movimiento.montoCuota + '"  class="form-control-plaintext" id="montoCuota" /> </td>' +
                            '<td><input  value="' + movimiento.valorPesos + '"  class="form-control-plaintext" id="valorPesos" /> </td>' +
                            '<td><input type="checkbox" checked onchange="actualizarGastosAdm()"/></td>' +
                            '</tr>';
                        tableTotal = tableTotal + row;

                    });

                    baseTable = '</tbody>' +
                        '</table>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    tableTotal = tableTotal + baseTable;


                    table.append(tableTotal);
                });
            }
        }


    </script>
    
}
