
@{
    ViewData["Title"] = "Reportes y Estadistica";
    var mesActual = ViewBag.MesActual;
}

<div class="container mt-4">
    <h1>Reportes y Estadistica</h1>

    <!-- Navegación de Tabs -->
    <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="ingEgrDolar-tab" data-bs-toggle="tab" href="#ingEgrDolar" role="tab" aria-controls="ingEgrDolar" aria-selected="true">Ingresos y Egresos (USD)</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ingEgrPesoa-tab" data-bs-toggle="tab" href="#ingEgrPesos" role="tab" aria-controls="ingEgrPesos" aria-selected="false">Ingresos y Egresos (Pesos)</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tarjetas-tab" data-bs-toggle="tab" href="#tarjetas" role="tab" aria-controls="tarjetas" aria-selected="false">Tarjetas</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="bolsa-tab" data-bs-toggle="tab" href="#bolsa" role="tab" aria-controls="bosa" aria-selected="false">Bolsa</a>
        </li>
    </ul>

    <!-- contenido de los tabs -->
    <div class="tab-content" id="dashboardTabsContent">
        <!-- Primer tab Ingresos egresos en usd-->
        <div class="tab-pane fade show active" id="ingEgrDolar" role="tabpanel" aria-labelledby="ingEgrDolar-tab">
            <div class="mt-3">
                <h4>Ingresos y Egresos en Dolares</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label for="month">Mes</label>
                        <input class="form-control" type="month" id="MesDB1" value="@ViewBag.MesActual" onchange="cargarDatosDashboard1()" />
                    </div>
                </div>

                <!-- Graficos -->

                <div class="row mt-4">
                    <div class="col-md-6">
                        <canvas id="incomeByClassChart"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="expenseByClassChart"></canvas>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <canvas id="incomeLast6MonthsChart"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="expenseLast6MonthsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!--  tab Ingresos egresos en pesos-->
        <div class="tab-pane fade show" id="ingEgrPesos" role="tabpanel" aria-labelledby="ingEgrPesos-tab">
            <div class="mt-3">
                <h4>Ingresos y Egresos en Pesos</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label for="month">Mes</label>
                        <input class="form-control" type="month" id="MesDB2" value="@ViewBag.MesActual" onchange="cargarDatosDashboard2()" />
                    </div>
                </div>

                <!-- Graficos -->

                <div class="row mt-4">
                    <div class="col-md-6">
                        <canvas id="incomeByClassPesosChart"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="expenseByClassPesosChart"></canvas>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <canvas id="incomeLast6MonthsPesosChart"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="expenseLast6MonthsPesosChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- tab Tarjetas-->

        <div class="tab-pane fade show" id="tarjetas" role="tabpanel" aria-labelledBy="tarjetas-tab">
            <div class="mt-3">
                <h4>Tarjetas de Credito</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label for="idTarjeta">Tarjeta</label>
                        <select class="form-control" onchange="cargarDatosDashboard3()" id="idTarjeta">
                            <option value="">Seleccione</option>
                            <option value="Total">Total</option>
                            @foreach (var tarjeta in ViewBag.Tarjetas)
                            {
                                <option value="@tarjeta.Id">@tarjeta.Nombre</option>
                            }
                        </select>
                     
                    </div>

                    <!-- Graficos -->

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <canvas id="gastosEnPesosChart"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="gastosEnDolaresChart"></canvas>
                        </div>
                    </div>


                    <div class="mt-4" id="tablaGastos">

                    </div>
                </div>
            </div>
        </div>

        <!-- tab bolsa-->

        <div class="tab-pane fade show" id="bolsa" role="tabpanel" aria-labelledBy="bolsa-tab">
            <div class="mt-3">
                <h4>Inversiones en Bolsa</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label for="idTipoActivo">Tipo de Activo</label>
                        <select class="form-control" onchange="cargarDatosDashboard4()" id="idTipoActivo">
                            <option value="">Seleccione</option>
                            @foreach (var tipoActivo in ViewBag.TiposActivo)
                            {
                                <option value="@tipoActivo.Id">@tipoActivo.Nombre</option>
                            }
                        </select>

                    </div>

                    <!-- Graficos -->

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <canvas id="bolsaGralChart"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="porcentajeTickersChart"></canvas>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <canvas id="origVsActualChart"></canvas>
                        </div>
                        <div class="col-md-6" id="tablaBolsa">
                        </div>                        
                    </div>
@* 

                    <div class="mt-4" id="tablaGastos">
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@*     <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="~/js/estadistica.js" asp-append-version="true"></script>

    
}