@model IEnumerable<Cuenta>
@{
    ViewData["Title"] = "Cuentas";
}

<h1>Cuentas</h1>

<a asp-action="Crear" class="btn btn-primary mb-3">
    Agregar Cuenta
</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cuenta in Model) 
        {
            <tr>
                <td>
                    @cuenta.CuentaNombre
                </td>
                <td>
                    <input type="hidden" value="@cuenta.Id " class="ids"/>
                    <a class="btn btn-success" asp-action="AsignarTiposActivos" asp-route-id="@cuenta.Id">
                        <i class="bi-card-checklist"></i>
                    </a>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@cuenta.Id">
                        <i class="bi-pencil-fill"></i>
                    </a>
                    <a class="btn btn-danger" onclick="openDeleteModal(@cuenta.Id, '@Url.Action("Borrar", "Cuenta")',
                    '@Url.Action("checkEsUsado", "Cuenta")')">  


                        <i class="bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Incluimos el modal de eliminacion-->

@Html.Partial("_DeleteModal")

<script src="~/js/deleteModal.js"></script>